.hero {
    position: relative;
    margin: 0;
    background-image: url('/assets/bg.png');
    color: #fff;
    padding: 64px;
    font-size: large;
}

.hero h1 {
    margin: 0;
}

.hero p {
    max-width: 50%;
}

button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
    margin-right: 8px;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #dfdfdf;
}

.contact-info {
    position: absolute;
    bottom: 16px;
    right: 64px;
}

.contact-info a {
    margin-right: 16px;
}

.contact-info a:hover svg {
    fill: #bbbbbb;
}

.contact-info svg {
    fill: #ffffff;
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 600px) {
    .hero {
        padding: 64px 16px;
        font-size: unset;
    }

    .hero p {
        max-width: unset;
    }
    
    .contact-info {
        bottom: 8px;
        left: 16px;
        right: unset;
    }

    .contact-info svg {
        width: 1em;
        height: 1em;
    }
}


@media screen and (max-width: 900px) {
    .hero {
        padding: 64px 32px;
    }
    
    .contact-info {
        bottom: 8px;
        left: 32px;
        right: unset;
    }
}
