.projects {
    margin: 0 64px;
}

h2 {
    color: #1e83ff;
    margin-left: 8px;
}

.project-cell {
    display: inline-block;
    width: 25%;
}

@media screen and (max-width: 1200px) {
    .project-cell {
        width: 33.33%;
    }
}

@media screen and (max-width: 900px) {
    .projects {
        margin: 0 32px;
    }

    .project-cell {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .projects {
        margin: 0 16px;
    }

    .project-cell {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .projects {
        margin: 0 8px;
    }

    .project-cell {
        width: 100%;
    }
}
