.project {
    margin: 4px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 #9999994b;
}

img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.project article {
    padding: 16px 12px;
    border-top: 1px solid #eeeeee;
}

h3 {
    font-size: 1em;
    margin: 0;
    color: #3c4858;
}

p {
    margin-top: 6px;
    color: #333333;
}

.btns {
    display: flex;
    margin-top: 16px;
}

.btn {
    flex: 1;
    border: none;
    text-align: center;
    border-radius: 4px;
    font-weight: 500;
    padding: 6px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.85em;
}

.btn.code {
    border: 1px solid #1e83ff75;
    color: #1e83ff;
    margin-right: 8px;
}

.btn.site {
    border: 1px solid #1e83ff;
    box-shadow: 0 0 4px 0 #3c48587e;
    background-color: #1e83ff;
    color: #ffffff;
}

.tech-stack {
    margin: 4px 0;
}

.tech-item {
    display: inline-block;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    padding: 4px 12px;
    color: #aaaaaa;
    margin-right: 6px;
    font-size: 0.725em;
    text-transform: capitalize;
}
