<div class="project">
    <img [src]="project.imageUrl" [alt]="project.title">   
    <article class="card-bottom">
        <h3>{{project.title}}</h3>
        <p>{{project.description}}<a href="">...more</a></p>

        <div class="tech-stack">
            <div class="tech-item" *ngFor="let tech of project.techStack">{{tech}}</div>
        </div>
    
        <div class="btns">
            <a class="btn code" href="{{project.sourceUrl}}">Code</a>
            <a class="btn site" [href]="project.pageUrl">Visit Site</a>
        </div>  
    </article>
</div>
