.project {
    display: flex;
    background-color: #ffffff;
    box-shadow: 0 0 1px 0 #444444;
    width: fit-content;
    margin: 4px;
    border-radius: 4px;
}

img {
    width: 300px;
    border-radius: 4px;
}

.description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h3 {
    margin: 4px 0;
    color: #333333;
}

.tech-stack {
    margin-bottom: 8px;
}

.tech-stack .chip {
    background-color: #EDEDF0;
    color: #222222;
    border-radius: 6px;
    margin-right: 4px;
    padding: 2px 8px;
    padding-top: 0;
    font-size: 0.75em;
}

button {
    padding: 8px 12px;
    border: 1px solid #C2C2CB;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333333;
    font-weight: 700;
    cursor: pointer;
    margin-right: 8px;
}

button:focus {
    outline: none;
}

button:hover {
    background-color: #EDEDF0;
}
